---
import Layout from "../layouts/LoginLayout.astro";
---

<Layout
  title="ログイン"
  description="MsrNote アプリにログインしましょう。"
  index={false}
>
  <p>メールアドレスに6桁のワンタイムコードを送信しました。</p>
  <form id="login_form" action="/api/verify-otp" method="post">
    <input
      type="number"
      id="otp"
      placeholder="ワンタイムコードを入力"
      required
    />
    <button id="verify" type="submit">コードを認証する</button>
  </form>
  <p id="loading_message"></p>
  <p id="error_message"></p>
  <a class="sendMailAgain" href="/login/">← メールを再送信</a>
</Layout>

<style>
  form {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  input {
    display: block;
    width: 100%;
    height: auto;
    padding: var(--smaller-padding);
    background: var(--base-color);
    margin: var(--smaller-padding) 0;
    border: solid 2px var(--middle-color);
    border-radius: 5px;
    color: var(--dark-color);
    font-size: var(--base-font);
  }
  input:disabled {
    background: var(--middle-color);
    color: var(--dark-color);
    opacity: 1;
  }

  button {
    display: block;
    width: 100%;
    height: auto;
    padding: var(--smaller-padding);
    margin: var(--smaller-padding) 0;
    background: var(--shadow-color);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    font-size: var(--base-font);
  }
  button:disabled {
    color: var(--base-color);
  }

  #error_message {
    color: var(--red-color);
  }

  .sendMailAgain {
    display: block;
    margin-top: 20px;
  }
</style>

<script>
  const form = document.getElementById("login_form") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const id = new URLSearchParams(window.location.search).get("id");

    const otp = document.getElementById("otp") as HTMLInputElement;
    otp.disabled = true;
    const verify = document.getElementById("verify") as HTMLButtonElement;
    verify.disabled = true;

    const loadingMessage = document.getElementById(
      "loading_message",
    ) as HTMLElement;
    loadingMessage.textContent = "読み込み中です...";

    const response = await fetch(form.action, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ id: id, otp: otp.value }),
    });

    const result = await response.json();

    if (response.ok) {
      // 送信成功
      window.location.href = `/user/`;
    } else {
      // 送信失敗
      console.log("ログイン失敗: ", result.error);

      otp.disabled = false;
      verify.disabled = false;
      loadingMessage.textContent = "";

      const errorMessage = document.getElementById(
        "error_message",
      ) as HTMLElement;
      errorMessage.textContent = "ワンタイムコードが正しくありません。";
    }
  });
</script>
